{% extends 'main/index.html' %} {% load static %} {%block title%}Процесс{%endblock%} {%block styles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/about-us.css' %}" /> {%endblock%} 
{% block content %}
<div class="about-us">
    <div class="about-us__info">
        <div class="about-us__info-first">
            {% for text in info %}
            <img class="images" src="{{text.image.url}}" />
            <div class="text__info">
                <p>{{ text.information }}</p>
            </div>
            {%endfor%}
        </div>
        <div class="about-us__info-second">
            <h2>Технологии</h2>
            <div class="about-us__info-second__row">
            {% for technologie in technologies %}
            <div class="technologie__item">
                <img src="{{technologie.image.url}}" />
                <div class="text__info">
                    <p>{{ technologie.name }}</p>
                </div>
            </div>
            {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{%block footer%}
<footer class="default">
    <div class="footer__container">
        <div class="container__content">
            <div class="content">
                <a href="{%url 'index' %}">
                    <img src={% static "media/icons/logo.png" %} alt="logo" width="220" height="40" />
                </a>
                <span class="date">© 2017-2021, OOO MARCOGRAFIKA</span>
                <div class="social-networks footer">
                    <a href="https://www.instagram.com/marcografika/">
                        <img src={% static 'media/icons/instagram.svg' %} alt="instagram" width="40" height="40" />
                    </a>
                    <a href="https://vk.com/fotobulak">
                        <img src={% static "media/icons/vk.svg" %} alt="vk" width="40" height="40" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCOu3eWZ0Zh5aUSvfHqGnnZQ">
                        <img src={% static "media/icons/youtube.svg" %} alt="youtube" width="40" height="40" />
                    </a>
                </div>
            </div>
            <div class='scroll-to-top'>
                <img src={% static "media/icons/to-top.svg" %} alt="logo" width="15" height="15" />
            </div>
            <script type="text/javascript">
                $('.scroll-to-top').click(function () {
                    $(window).scrollTop(0);
                });
            </script>
        </div>
    </div>
</footer>
{%endblock%}
