@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.no-overflow {
    overflow: hidden !important;
}

.menu-btn,
.close-button {
    max-width: 30px;
    max-height: 30px;
    width: 20px !important;
    height: 20px;
}

.close-button {
    position: relative;
    top: -2px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(220deg)
    }
}

@keyframes animate2 {
    0% {
        box-shadow: inset #b3dfd8 0 0 0 17px;
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #b3dfd8 0 0 0 2px;
    }
    100% {
        box-shadow: inset #b3dfd8 0 0 0 17px;
        transform: rotate(140deg);
    }
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.main-wrapper {
    padding-top: 130px;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.container__wrapper {
    background: white;
}

.container__links.out {
    transform: translateY(-100%);
    z-index: -1;
}

a,
p,
h1,
h2,
h3,
li {
    font-family: 'Montserrat', sans-serif;
}

.social-networks {
    display: flex;
}

.social-networks a {
    margin-right: 24px;
}

ul {
    padding: 0 !important;
}

a {
    text-decoration: none !important;
    color: black !important;
    font-size: 16px;
    cursor: pointer;
    line-height: 26px;
    display: inline-block;
}

.links__content,
.container__logo-social {
    max-width: 1200px;
    margin: 0 auto;
}

.social a {
    position: relative;
    top: 4px;
}

.social img {
    position: relative;
    top: 2px;
}

.container__links {
    background-color: #f6f3ff;
    padding: 16px 0;
    transition: all .3s ease;
    position: relative;
    z-index: 1;
}

.links__content a {
    margin-right: 194px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    color: #5a5a5a !important;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
}

.links__content a.active {
    background-size: 100% 2px;
}

.links__content a:hover {
    background-size: 100% 2px;
}

.container__links a:last-child {
    margin-right: 0;
}

footer.default {
    margin-top: 32px;
}

.container__logo-social {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 32px 0 0;
    background: white;
    z-index: 100;
    top: -16px;
}

.social a:nth-child(1)::after {
    content: '';
    border-right: 1px solid transparent;
}

.social a:nth-child(2),
.social a:nth-child(3) {
    position: relative;
    font-weight: bold;
    color: #5a5a5a !important;
    margin-right: 16px;
    transition: opacity .3s;
}

.social a:nth-child(1):hover,
.social a:nth-child(2):hover {
    opacity: .7;
}

.social a:nth-child(1)::after {
    content: '';
    margin-left: 16px;
    margin-right: 16px;
    border-right: 1px solid #5a5a5a;
}

.social a:nth-child(1n+4) {
    max-width: 40px;
    width: 40px;
    margin-right: 16px;
}

.social a:last-child {
    margin-right: 0;
}

.social img {
    transition: .3s;
}

.social img:hover {
    transform: scale(1.1);
    transition: .3s;
}

.social {
    position: absolute;
    right: 0;
}

footer {
    border-top: 1px solid black;
    padding: 20px 0;
}

footer {
    margin-top: 950px;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.container__content .content span {
    top: 9px;
    display: block;
    color: #5a5a5a;
    position: absolute;
    right: 0;
    opacity: 0.8;
}

.social-networks.footer {
    position: absolute;
    right: 0;
}

nav .close-button {
    float: right;
    cursor: pointer;
    opacity: 0;
}

.hamburger.show-menu {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: white;
    overflow: hidden;
}

.menu-btn {
    cursor: pointer;
}

.hamburger {
    display: none;
}

nav ul {
    list-style-type: none;
    margin-right: 570px;
}

.hamburger__content {
    max-width: 1200px;
    margin: 150px auto;
    display: flex;
}

.hamburger__header img {
    cursor: pointer;
}

.hamburger__information a {
    font-weight: bold;
    font-size: 24px;
    display: block;
    opacity: 0.7;
    margin-bottom: 32px;
    max-width: 350px;
    transition: .3s opacity ease-in-out;
}

.hamburger__information a:hover {
    opacity: 1;
    transition: .3s opacity ease-in-out;
}

.hamburger__information {
    opacity: 0;
}


nav ul li a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    color: #5a5a5a !important;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
    font-size: 28px;
    margin-bottom: 16px;
    padding-bottom: 8px;
}

nav ul li a:hover,
nav ul li a.active {
    background-size: 100% 2px;
}

.show-menu {
    display: block;
    -webkit-animation: slide-menu .6s ease-in forwards;
    animation: slide-menu .6s ease-in forwards;
}



.show-menu .close-button {
    -webkit-animation: show-x .6s.6s forwards;
    animation: show-x .6s .6s forwards;
}

.show-menu .hamburger__header img {
    -webkit-animation: show-x .6s.6s forwards;
    animation: show-x .6s .6s forwards;
}

.hamburger__header img {
    opacity: 0;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    .show-menu {
        display: block;
        -webkit-animation: slide-menu .4s ease-in forwards !important;
        animation: slide-menu .4s ease-in forwards !important;
    }
    .show-menu li:nth-of-type(1) {
        -webkit-animation: menu-item-anim .4s forwards .6s ease-in-out !important;
        animation: menu-item-anim .4s forwards .6s ease-in-out !important;
    }
    .show-menu li:nth-of-type(2) {
        -webkit-animation: menu-item-anim .4s forwards .8s ease-in-out !important;
        animation: menu-item-anim .4s forwards .8s ease-in-out !important;
    }
    .show-menu li:nth-of-type(3) {
        -webkit-animation: menu-item-anim .4s forwards 1s ease-in-out !important;
        animation: menu-item-anim .4s forwards 1s ease-in-out !important;
    }
    .show-menu li:nth-of-type(4) {
        -webkit-animation: menu-item-anim .4s forwards 1.2s ease-in-out !important;
        animation: menu-item-anim .4s forwards 1.2s ease-in-out !important;
    }
    .show-menu li:nth-of-type(5) {
        -webkit-animation: menu-item-anim .4s forwards 1.4s ease-in-out !important;
        animation: menu-item-anim .4s forwards 1.4s ease-in-out !important;
    }
    .show-menu .hamburger__information {
        -webkit-animation: menu-item-anim .4s forwards 1.6s ease-in-out !important;
        animation: menu-item-anim .4s forwards 1.6s ease-in-out !important;
    }
}

.show-menu li:nth-of-type(1) {
    -webkit-animation: menu-item-anim .6s forwards 0.6s ease-in-out;
    animation: menu-item-anim .6s forwards 0.6s ease-in-out;
}

.show-menu li:nth-of-type(2) {
    -webkit-animation: menu-item-anim .6s forwards 0.8s ease-in-out;
    animation: menu-item-anim .6s forwards 0.8s ease-in-out;
}

.show-menu li:nth-of-type(3) {
    -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
    animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(4) {
    -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(5) {
    -webkit-animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    animation: menu-item-anim .6s forwards 1.4s ease-in-out;
}

.show-menu .hamburger__information {
    -webkit-animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    animation: menu-item-anim .6s forwards 1.4s ease-in-out;
}

.hamburger__header {
    max-width: 1200px;
    margin: 16px auto;
}

@-webkit-keyframes slide-menu {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes slide-menu {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@-webkit-keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes menu-item-anim {
    from {
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    from {
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

footer.default {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}


nav ul a {
    color: white;
    font-weight: bold;
    font-size: 1.4em;
}

nav ul span {
    color: gray;
    display: block;
    font-size: .75em;
    margin-top: 20px;
}

nav ul li {
    opacity: 0;
}

.container__content .content {
    display: flex;
    flex-wrap: wrap;
}

.container__content .content span a {
    font-weight: bold;
    opacity: 0.8;
}

.content .date {
    left: 40%;
}

.scroll-to-top {
    position: absolute;
    right: 0;
    padding: 6px 12px;
    top: -42px;
    background: white;
    border: 1px solid #5a5a5a;
    cursor: pointer;
}

.scroll-to-top img {
    transform: rotate(-90deg);
    position: relative;
    top: -2px;
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
    footer.home {
        margin-top: 1150px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1200px) {
    footer.home {
        margin-top: -50px !important;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
    .links__content,
    .container__logo-social {
        max-width: 1024px;
    }
    .links__content a {
        margin-right: 150px;
    }
    .footer__container {
        max-width: 1024px;
    }
    .scroll-to-top {
        display: none;
    }
    .hamburger__content {
        max-width: 1024px;
        margin: 150px auto;
        display: flex;
    }
    nav ul li a {
        font-size: 24px;
        margin-bottom: 16px;
        padding-bottom: 8px;
    }
    nav ul {
        list-style-type: none;
        margin-right: 440px;
    }
    .hamburger__header {
        max-width: 1024px;
        margin: 32px auto;
    }
    footer.home {
        margin-top: 1000px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 728px) {
    .links__content,
    .container__logo-social {
        max-width: 728px;
    }
    .social {
        position: relative;
        top: 6px;
        left: 18px;
    }
    .social-networks.footer {
        width: 100%;
        padding-top: 8px;
        position: relative;
    }
    .social-networks.footer img {
        margin-right: 16px !important;
    }
    .social a:nth-child(1),
    .social a:nth-child(2) {
        font-size: 14px;
        position: relative;
        top: 3px;
    }
    .links__content a {
        margin-right: 76px;
    }
    .footer__container {
        max-width: 728px;
    }
    .scroll-to-top {
        display: none;
    }
    footer {
        margin-top: 300px;
    }
    footer span {
        position: relative !important;
    }
    footer.service .date,
    footer.service-detail .date {
        left: 36%;
    }
    .hamburger__content {
        max-width: 728px;
        margin: 150px auto;
        display: flex;
    }
    nav ul li a {
        font-size: 24px;
        margin-bottom: 16px;
        padding-bottom: 8px;
    }
    nav ul {
        list-style-type: none;
        margin-right: 145px;
    }
    .hamburger__header {
        max-width: 728px;
        margin: 32px auto;
    }
    .hamburger__information a {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    footer.default {
        position: relative;
    }
    footer {
        padding: 8px 0 32px;
    }
    .service-detail .footer__container {
        position: relative;
        top: -22px;
    }
    .container__logo-social {
        padding-left: 16px;
    }
    .links__content a {
        margin-right: 24px;
        opacity: .5;
        padding-left: 16px;
        background-size: 0 !important;
    }
    .links__content a.active {
        color: black !important;
        opacity: 1;
    }
    .footer__container {
        padding-left: 16px;
    }
    .scroll-to-top {
        display: none;
    }
    .social {
        right: 16px !important;
        top: 28px;
    }
    .social a {
        display: none;
    }
    .links__content {
        white-space: nowrap;
        overflow-x: auto;
        padding-bottom: 16px;
    }
    .container__links {
        padding: 8px 0 0px;
    }
    .logo,
    .social a:nth-child(1),
    .social a:nth-child(2) {
        margin-bottom: 8px;
    }
    footer {
        margin-top: 3620px;
    }
    a {
        font-size: 14px;
    }
    .social-networks.footer {
        position: relative;
        top: 16px;
    }
    .container__content .content span {
        position: relative;
    }
    .content .date {
        left: 0;
    }
    .hamburger__content {
        display: block;
        margin: 48px 16px 0 !important;
    }
    nav ul li a {
        font-size: 20px;
        margin-bottom: 16px;
        padding-bottom: 8px;
    }
    nav ul {
        list-style-type: none;
        margin-right: 0;
    }
    .hamburger__header {
        margin: 16px 16px;
    }
    .hamburger__information a {
        font-size: 16px;
        max-width: 240px;
        opacity: 1;
    }
    .close-button,
    .menu-btn {
        position: relative;
        top: 10px !important;
    }
}