.video-player {
    position: relative;
    width: 568px;
    height: 370px;
    margin: auto;
    cursor: pointer;
    max-height: 370px;
    object-fit: cover;
    margin-bottom: 16px;
}

.video-player img {
    width: 100%;
    height: 370px;
    max-height: 370px;
    filter: brightness(0.4);
}

.video {
    display: flex;
    flex-wrap: wrap;
}

.video p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 485px;
}

.video p,
.mediabank-image__item p {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.video__item {
    margin-right: 64px;
}

.video__item:nth-child(2n+2) {
    margin-right: 0;
}

.video-player.mediabank::before {
    content: '';
    position: absolute;
    left: 234px;
    top: 135px;
    width: 96px;
    height: 96px;
    background: url('../../static/media/icons/play.svg');
    transition: opacity .2s ease;
    z-index: 99;
}

.video-player.mediabank:hover::before {
    opacity: .5;
}

.mediabank-image {
    display: flex;
    flex-flow: wrap;
}

.mediabank-image__item {
    margin-right: 32px;
    margin-bottom: 32px;
    max-width: 300px;
}

.mediabank-image__item:nth-child(4n+4) {
    margin-right: 0;
}

.mediabank-image__item img {
    max-width: 268px;
    max-height: 268px;
    width: 268px;
    height: 268px;
    cursor: zoom-in;
    margin-bottom: 8px;
    object-fit: cover;
}

.mediabank-image__item p {
    font-weight: bold;
    font-size: 14px;
    max-width: 268px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-pills {
    max-width: 1200px;
    margin: 32px auto 64px;
}

.tab-content {
    padding-top: 32px;
}

.nav-pills .nav-link.active {
    background: none !important;
    color: black;
}

.nav-item {
    margin-right: 32px;
}

.nav-pills .nav-link.active span {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    transition: background-size .3s;
    font-weight: bold;
    padding-bottom: 1px;
}

.nav-pills .nav-link span {
    font-weight: bold;
    padding-bottom: 1px;
    position: relative;
    top: 3px;
}

.nav-pills .nav-link img {
    margin-right: 4px;
}

.nav-link {
    padding: 0 !important;
}

.tab-pane {
    max-width: 1200px;
    margin: 0 auto;
}


/*Eliminates padding, centers the thumbnail */

body,
html {
    padding: 0;
    margin: 0;
}


/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
    position: fixed;
    z-index: 999;
    left: 0;
    top: -100%;
    width: 100%;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}


/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target .card-content {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}


/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}


/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: white;
    position: absolute;
    left: 26px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: white;
    position: absolute;
    left: 26px;
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
}

.lightbox-target:target .card-content {
    max-height: 60%;
    max-width: 60%;
    margin-bottom: auto !important;
    background: white;
    border-radius: 24px;
}

.lightbox-target .card-content img {
    max-height: 100% !important;
    max-width: 50% !important;
    float: left;
    width: 100% !important;
    height: 100% !important;
    margin-bottom: auto !important;
    border-radius: 20px 0px 0 20px !important;
    margin-right: 50px;
}

.lightbox-target h1 {
    font-size: 24px !important;
    text-align: left;
    color: black;
    font-weight: bold;
    padding-top: 21px;
    margin-bottom: 21px;
    padding-left: 8px;
    max-width: 100% !important;
}

.lightbox-target p {
    font-size: 15px !important;
    text-align: left;
    color: black;
    overflow: auto !important;
    white-space: normal !important;
    font-weight: 400 !important;
    max-width: 43% !important;
}

.lightbox-target a.button {
    color: white !important;
    float: left;
    padding: 8px 16px;
    font-size: 16px;
    background: #5a5a5a;
    border-radius: 30px;
    transition: .3s;
}

.lightbox-target a.button:hover {
    transform: scale(1.1);
    transition: .3s;
}

.lightbox-target hr {
    max-width: 43% !important;
}

.lightbox-target:target a.lightbox-close {
    top: 0px;
}

@media screen and (max-width: 1700px) and (min-width: 1400px) {
    .lightbox-target h1 {
        font-size: 20px !important;
    }
    .lightbox-target p {
        font-size: 14px !important;
        max-width: 45% !important;
    }
    .lightbox-target .card-content img {
        margin-right: 32px;
    }
    .lightbox-target:target .card-content {
        max-width: 70%;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .lightbox-target h1 {
        font-size: 18px !important;
    }
    .lightbox-target p {
        font-size: 14px !important;
    }
    .lightbox-target .card-content img {
        margin-right: 24px;
    }
    .lightbox-target:target .card-content {
        max-width: 80%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
    .lightbox-target h1 {
        font-size: 18px !important;
    }
    .lightbox-target p {
        font-size: 14px !important;
    }
    .lightbox-target .card-content img {
        margin-right: 16px;
    }
    .lightbox-target:target .card-content {
        max-width: 80%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
    .mediabank-image__item {
        margin-right: 32px;
        margin-bottom: 32px;
        max-width: 220px;
    }
    .mediabank-image__item img {
        max-width: 222px;
        max-height: 222px;
        width: 222px;
        height: 222px;
        cursor: zoom-in;
        margin-bottom: 8px;
        object-fit: cover;
    }
    .mediabank-image__item p {
        font-weight: bold;
        font-size: 14px;
        max-width: 222px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .nav-pills {
        max-width: 1024px;
        margin: 32px auto 64px;
    }
    .tab-pane {
        max-width: 1024px;
        margin: 0 auto;
    }
    .video-player {
        width: 478px;
    }
    .video img {
        max-width: 478px;
    }
    .video-player.mediabank::before {
        left: 200px;
        top: 125px;
    }
    .video__item {
        margin-right: 16;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 728px) {
    .mediabank-image__item {
        margin-right: 16px;
        margin-bottom: 16px;
        max-width: 230px;
    }
    .content .date {
        left: 36% !important;
    }
    .mediabank-image__item:nth-of-type(3n+3) {
        margin-right: 0;
    }
    .mediabank-image__item:nth-child(4n+4) {
        margin-right: 16px;
    }
    .mediabank-image__item img {
        max-width: 230px;
        max-height: 230px;
        width: 230px;
        height: 230px;
        cursor: zoom-in;
        margin-bottom: 8px;
        object-fit: cover;
    }
    .mediabank-image__item p {
        font-weight: bold;
        font-size: 14px;
        max-width: 230px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .video-player {
        width: 728px;
    }
    .video-player.mediabank::before {
        left: 320px;
        top: 125px;
    }
    .video__item {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .nav-pills {
        max-width: 728px;
        margin: 32px auto 64px;
    }
    .tab-pane {
        max-width: 728px;
        margin: 0 auto;
    }
    .lightbox-target:target img {
        max-height: 230px !important;
        max-width: 100%;
    }
    .lightbox-target h1 {
        font-size: 18px !important;
        padding-top: 21px;
        position: relative;
        top: 8px;
    }
    .lightbox-target hr {
        max-width: 100% !important;
    }
    .lightbox-target:target .card-content {
        max-height: 55% !important;
        max-width: 85% !important;
    }
    .lightbox-target p {
        font-size: 14px !important;
        max-width: 90% !important;
        padding-left: 8px;
    }
    .lightbox-target .card-content img {
        margin-right: 0px;
        max-width: 100% !important;
        border-radius: 20px 20px 0 0 !important;
    }
    .lightbox-target:target img {
        max-height: 220px;
    }
}

@media screen and (max-width: 480px) and (min-width: 328px) {
    .mediabank-image__item {
        margin-right: 16px;
        margin-bottom: 16px;
        max-width: 230px;
    }
    .video-player {
        width: 320px;
        height: 256px;
    }
    .video-player img {
        height: 256px;
    }
    .video-player.mediabank::before {
        left: 118px;
        top: 75px;
        transform: scale(0.7);
    }
    .video__item {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .mediabank-image__item:nth-of-type(3n+3) {
        margin-right: 0;
    }
    .mediabank-image__item:nth-child(4n+4) {
        margin-right: 16px;
    }
    .mediabank-image__item img {
        max-width: 230px;
        max-height: 230px;
        width: 230px;
        height: 230px;
        cursor: zoom-in;
        margin-bottom: 8px;
        object-fit: cover;
    }
    .mediabank-image__item p {
        font-weight: bold;
        font-size: 14px;
        max-width: 230px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .nav-pills {
        margin: 40px 16px 64px;
    }
    .tab-pane {
        max-width: 728px;
        margin: 0 16px;
    }
    .lightbox-target:target img {
        max-height: 230px !important;
        max-width: 100%;
    }
    .lightbox-target:target img {
        max-height: 230px !important;
        max-width: 100%;
    }
    .lightbox-target h1 {
        font-size: 18px !important;
        padding-top: 21px;
        position: relative;
        top: 8px;
    }
    .lightbox-target hr {
        max-width: 100% !important;
    }
    .lightbox-target:target .card-content {
        max-height: 100% !important;
        max-width: 100% !important;
        border-radius: 0 !important;
    }
    .lightbox-target p {
        font-size: 14px !important;
        max-width: 90% !important;
        padding-left: 8px;
    }
    .lightbox-target .card-content img {
        margin-right: 0px;
        max-width: 100% !important;
        border-radius: 0 0 0 0 !important;
    }
    .lightbox-target:target img {
        max-height: 200px;
    }
}