.wrapper.service {
    margin: 32px 0;
    display: flex;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
    position: relative;
    top: 1px;
    left: 8px;
}

.accordion-body li {
    list-style: none;
}

.accordion-button:focus {
    border: none;
    border-color: white;
    box-shadow: none;
}

.accordion-button {
    padding: 16px;
}

.accordion-item {
    border: 1px solid #f6f3ff;
}

.category_menu a {
    max-width: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    opacity: .5;
}

.category_menu li.selected a {
    opacity: 1;
}

.categories_filter {
    width: 250px;
    margin-left: 24px;
    margin-right: 56px;
}

.accordion-flush {
    width: 250px;
}

.product-list .item a {
    display: block;
}

.product-list {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.product-list .item img {
    object-fit: cover;
    margin-bottom: 8px;
    transition: .5s;
}

.product-list .item {
    margin-right: 56px;
    margin-bottom: 32px;
    max-width: 256px;
}

.product-list .item p {
    max-width: 256px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-list .item:nth-child(4n+4) {
    margin-right: 0px;
}

.product-list .item:hover img {
    filter: brightness(70%);
    transition: .5s;
}

.product-list .item span {
    font-size: 14px;
}

footer.service-detail {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer.service {
    margin-top: 0;
}

.product-detail {
    display: flex;
    max-width: 1200px;
    margin: 32px auto;
}

.product-detail img {
    max-width: 296px;
    width: 296px;
    max-height: 296px;
    margin-right: 48px;
    margin-bottom: 16px;
    height: 296px;
    object-fit: cover;
}

.product-detail h1 {
    overflow-wrap: anywhere;
    max-width: 900px;
    font-size: 32px;
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
    .path {
        margin: 16px auto !important;
        max-width: 728px !important;
    }
    .product-detail {
        margin: 16px auto !important;
        max-width: 728px !important;
    }
    .product-detail img {
        max-width: 192px !important;
        max-height: 192px !important;
    }
    .product-detail h1 {
        font-size: 20px !important;
    }
    .product-detail p {
        font-size: 14px !important;
        max-width: 450px !important;
        overflow-wrap: anywhere !important;
    }
}

.product-detail span a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    color: black !important;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
}

.product-detail .product-detail__image-content span {
    font-weight: bold;
}

.product-detail span a:hover {
    background-size: 100% 2px;
}

span.price {
    display: block;
}

.path {
    max-width: 1200px;
    margin: 32px auto 0;
}

.path a {
    font-weight: bold;
    font-size: 13px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    color: black !important;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .5s;
}

.path a:hover {
    background-size: 100% 2px;
}

.page-link.disabled {
    pointer-events: none;
    opacity: .5;
}

.pagination {
    width: 100%;
}

.page-link.count {
    pointer-events: none;
}

@media screen and (max-width: 1520px) and (min-width: 1380px) {
    .product-list .item img {
        max-width: 213px;
        max-height: 213px;
    }
    .product-list .item p {
        max-width: 195px;
    }
}

@media screen and (max-width: 1380px) and (min-width: 1200px) {
    .product-list .item img {
        max-width: 180px;
        max-height: 180px;
    }
    .product-list .item {
        margin-right: 48px;
        margin-bottom: 32px;
    }
    .product-list .item p {
        max-width: 195px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
    .product-list .item img {
        max-width: 195px;
        max-height: 195px;
    }
    .product-list .item {
        margin-right: 48px;
        margin-bottom: 32px;
    }
    .product-list .item:nth-child(4n+4) {
        margin-right: 48px;
    }
    .product-list .item p {
        max-width: 195px;
    }
    .product-list .item:nth-child(3n+3) {
        margin-right: 0px;
    }
    .path {
        max-width: 1024px;
    }
    .product-detail {
        max-width: 1024px;
    }
    .product-detail img {
        max-width: 228px;
        max-height: 228px;
    }
    .product-detail h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 728px) {
    .accordion-flush {
        width: 728px;
        margin-bottom: 24px;
    }
    .wrapper.service {
        flex-wrap: wrap;
    }
    .product-list .item p {
        max-width: 195px;
    }
    .product-list {
        max-width: 728px;
        margin: 0 auto;
    }
    .product-list .item {
        max-width: 170px;
        margin-right: 16px;
    }
    .product-list .item img {
        max-width: 170px;
        max-height: 170px;
    }
    .path {
        margin: 16px auto;
        max-width: 728px;
    }
    .product-detail {
        margin: 16px auto;
        max-width: 728px;
    }
    .product-detail img {
        max-width: 192px;
        max-height: 192px;
    }
    .product-detail h1 {
        font-size: 20px;
    }
    .product-detail p {
        font-size: 14px;
        max-width: 450px;
        overflow-wrap: anywhere;
    }
    .categories_filter {
        width: 94vw;
        max-width: 728px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    .accordion-flush {
        margin-bottom: 16px;
        margin-top: 20px;
        width: 91vw;
    }
    .wrapper.service {
        flex-wrap: wrap;
    }
    .product-list {
        padding-left: 16px;
    }
    .categories_filter {
        padding-left: 16px;
        margin-left: 0;
        margin-right: 0;
    }
    .path {
        margin: 40px 16px 0;
        max-width: 728px;
    }
    .path a {
        max-width: 234px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .path img {
        position: relative;
        top: -8px;
    }
    .product-detail {
        margin: 16px 16px;
        display: block
    }
    .product-detail img {
        max-width: 192px;
        max-height: 192px;
    }
    .product-detail h1 {
        font-size: 20px;
    }
    .product-detail p {
        font-size: 14px;
        max-width: 450px;
        overflow-wrap: anywhere;
        margin-bottom: 16px;
    }
    .categories_filter {
        width: 94vw;
    }
    footer.service-detail {
        position: relative;
        top: 48px;
    }
}