.wrapper.service {
    margin: 32px 0;
    display: flex;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
    position: relative;
    top: 1px;
    left: 8px;
}

.accordion-body li {
    list-style: none;
}
.accordion-button:focus {
    border: none;
    border-color: white;
    box-shadow: none;
}

.accordion-button {
    padding: 16px;
}

.accordion-item {
    border: 1px solid #f6f3ff;
}

.category_menu a {
    max-width: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    opacity: .5;
}

.category_menu li.selected a{
    opacity: 1;
}

.categories_filter {
    width: 250px;
    margin-left: 24px;
    margin-right: 56px;
}

.accordion-flush {
    width: 250px;
}

.product-list .item a {
    display: block;
}

.product-list {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.product-list .item img {
    object-fit: cover;
    margin-bottom: 8px;
    transition: .5s;
}

.product-list .item {
    margin-right: 56px;
    margin-bottom: 32px;
}

.product-list .item:nth-child(4n + 4) {
    margin-right: 0px;
}

.product-list .item:hover img{
    filter: brightness(70%);
    transition: .5s;
}

.product-list .item span {
    font-size: 14px;
}

footer.service-detail {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer.service {
    margin-top: 0;
}

.product-detail {
    display: flex;
    max-width: 1200px;
    margin: 32px auto;
}

.product-detail img {
    max-width: 296px;
    width: 296px;
    max-height: 296px;
    margin-right: 80px;
}

@media screen and (max-width: 1520px) and (min-width: 1380px) {
    .product-list .item img {
        max-width: 213px;
        max-height: 213px;
    }
}

@media screen and (max-width: 1380px) and (min-width: 1200px) {
    .product-list .item img {
        max-width: 180px;
        max-height: 180px;
    }
    .product-list .item {
        margin-right: 48px;
        margin-bottom: 32px;
    }    
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
    .product-list .item img {
        max-width: 195px;
        max-height: 195px;
    }
    .product-list .item {
        margin-right: 48px;
        margin-bottom: 32px;
    }
    .product-list .item:nth-child(4n + 4) {
        margin-right: 48px;
    }
    .product-list .item:nth-child(3n + 3) {
        margin-right: 0px;
    }        
}

@media screen and (max-width: 1024px) and (min-width: 728px) {
    .accordion-flush {
        width: 94vw;
        margin-bottom: 24px;
    }
    .wrapper.service {
        flex-wrap: wrap;
    }
    .product-list {
        max-width: 626px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    .accordion-flush {
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 16px;
        margin-top: 100px;
    }
    .wrapper.service {
        flex-wrap: wrap;
    }
    .product-list {
        max-width: 326px;
        margin: 0 auto;
    }
}