{% extends 'main/index.html' %} {% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Услуги{% endif %}
{% endblock %}
{%block styles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}" />
{%endblock%}
{% block content %}
<div class="wrapper service">
    <div class="categories_filter">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Категории
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="category_menu">
                            <ul>
                                <li {% if not category %} class="selected" {% endif %} title="Все услуги">
                                    <a href="{% url "availability:product_list" %}">Все услуги</a>
                                </li>
                                {% for c in categories %}
                                <li {% if category.slug == c.slug %} class="selected" {% endif %} title={{ c.name }}>
                                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-list">
        {% for product in products %}
        <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}../../../../../static/media/icons/no_photo.png {% endif %}"
                    width="256" height="256" alt="product-image">
                <p data-bs-toggle="tooltip" data-bs-placement="top" title="{{ product.name }}">{{ product.name }}</p>
                <p class="price">{{ product.price }} ₽</p>
                <span>Перейти</span>
                <img src={% static "media/icons/to-top.svg" %} alt="arrow" width="10" height="10" />
            </a>
        </div>
        {% endfor %}
        {% include "./pagination.html" with page=products %}
    </div>
</div>
{% endblock %}
{%block footer%}
<footer class="service">
    <div class="footer__container">
        <div class="container__content">
            <div class="content">
                <a href="{%url 'index' %}">
                    <img src={% static "media/icons/logo.png" %} alt="logo" width="220" height="40" />
                </a>
                <span class="date">© 2017-2021, OOO MARCOGRAFIKA</span>
                <div class="social-networks footer">
                    <a href="https://www.instagram.com/marcografika/">
                        <img src={% static 'media/icons/instagram.svg' %} alt="instagram" width="40" height="40" />
                    </a>
                    <a href="https://vk.com/fotobulak">
                        <img src={% static "media/icons/vk.svg" %} alt="vk" width="40" height="40" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCOu3eWZ0Zh5aUSvfHqGnnZQ">
                        <img src={% static "media/icons/youtube.svg" %} alt="youtube" width="40" height="40" />
                    </a>
                </div>
            </div>
            <div class='scroll-to-top'>
                <img src={% static "media/icons/to-top.svg" %} alt="logo" width="15" height="15" />
            </div>
            <script type="text/javascript">
                $('.scroll-to-top').click(function () {
                    $(window).scrollTop(0);
                });
            </script>
        </div>
    </div>
</footer>
{%endblock%}