{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>

    <link rel="icon" type="image/x-icon" href={% static 'media/icons/favicon.ico' %}>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {%block styles%}{%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {%block scripts%}{%endblock%}
</head>

<body {% if "media" in request.path%} class="overflow-hidden" {%endif%}>
    <header>
        <div class="header__container">
            <div class="container__wrapper">
                <div class="container__logo-social">
                    <div class="logo">
                        <a href="{%url 'index' %}">
                            <img src={% static 'media/icons/logo.png' %} alt="logo" width="220" height="40" />
                        </a>
                    </div>
                    <div class="social">
                        <a href="{% url "order:order_service" %}" class="button">Оформить заказ</a>
                        <a href="mailto:marco1192@mail.ru">marco1192@mail.ru</a>
                        <a href="tel:+79870690441">+7 988 888 8888</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__links">
            <nav class="links__content">
                <a href="{%url 'index' %}" {% if request.path == '/' %} class="active" {% endif %}>Главная
                    страница</a>
                <a href="{% url "availability:product_list" %}" {% if 'service' in request.path %} class="active" {%endif %}>Услуги</a>
                <a href="{% url "mediabank:media_photo" %}" {% if 'process' in request.path %} class="active" {%endif%}>Процесс</a>
                <a href>О нас</a>
                <a href="{% url "contact" %}" {% if 'contact' in request.path %} class="active" {%endif %}>Контакты</a>
            </nav>
        </div>
        <script type="text/javascript">
            let header = $('.container__links'),
                scrollPrev = 0;
            $(window).scroll(function () {
                let scrolled = $(window).scrollTop();


                if (scrolled > 100 && scrolled > scrollPrev) {
                    header.addClass('out');
                } else {
                    header.removeClass('out');
                }
                scrollPrev = scrolled;
            });
        </script>
        </div>
    </header>
    <div class="main-wrapper">
        {% block content %}{% endblock %}
    </div>
    {%block footer%}{%endblock%}
    <div class="menu">
        <button class="nav-tgl" type="button" aria-label="toggle menu">
            <span aria-hidden="true"></span>
        </button>
        <nav id="overlay" class="hamburger">
            <div class="hamburger__header">
                <a href="{%url 'index' %}">
                    <img src={% static 'media/icons/logo.png' %} alt="logo" width="220" height="40" />
                </a>
            </div>
            <div class="hamburger__content">
                <ul>
                    <li>
                        <a href="{%url 'index' %}" {% if request.path == '/' %} class="active" {% endif %}>Главная
                            страница</a>
                    </li>

                    <li>
                        <a href="{% url "availability:product_list" %}" {% if 'service' in request.path %}
                            class="active" {% endif %}>Услуги</a>
                    </li>

                    <li>
                        <a href="{% url "mediabank:media_photo" %}" {% if 'process' in request.path %} class="active"
                            {%endif %}>Процесс</a>
                    </li>

                    <li>
                        <a href>О нас</a>
                    </li>
                    <li>
                        <a href="{% url "contact" %}" {% if 'contact' in request.path %} class="active" {%endif%}>Контакты</a>
                    </li>
                </ul>
                <div class="hamburger__information">
                    <a href="mailto:marco1192@mail.ru">marco1192@mail.ru</a>
                    <a href="tel:+79870690441">+7 988 888 8888</a>
                    <a
                        href="https://yandex.ru/maps/43/kazan/house/ulitsa_kosmonavtov_71/YEAYdAdpQEwOQFtvfXt4d3lmYw==/?ll=49.209998%2C55.796557&z=17.22">Ул.
                        Космонавтов, 71, Казань, Респ. Татарстан, 420061</a>
                    <div class="social-networks">
                        <a href="https://www.instagram.com/marcografika/">
                            <img src={% static 'media/icons/instagram.svg' %} alt="instagram" width="40" height="40" />
                        </a>
                        <a href="https://vk.com/fotobulak">
                            <img src={% static "media/icons/vk.svg" %} alt="vk" width="40" height="40" />
                        </a>
                        <a href="https://www.youtube.com/channel/UCOu3eWZ0Zh5aUSvfHqGnnZQ">
                            <img src={% static "media/icons/youtube.svg" %} alt="youtube" width="40" height="40" />
                        </a>
                    </div>
                </div>
                <script type="text/javascript">
                    const menu = document.querySelector('.menu');
                    const btn = menu.querySelector('.nav-tgl');
                    btn.addEventListener('click', evt => {
                        menu.classList.toggle('active');
                    })
                </script>
            </div>
        </nav>
    </div>
</body>

</html>